.DS_Store
*.gcda
*.gcno
*.tmp.txt
cs371p-life.bbprojectd
Doxyfile
latex
RunLifeConway
RunLifeFredkin
RunLifeCell
TestLife
.vscode/
settings.json
debug.txt
gpdowning-RunLifeCell.in.txt
gpdowning-RunLifeCell.out.txt